<h3>PrimeNG Component</h3>

<h4>Order List</h4>

<div class="ui-g">
    <div class="ui-g-12 ui-md-12">
      
        <p-orderList [value]="events" [listStyle]="{'height':'250px'}" [responsive]="true" header="Responsive Cars">
            <template let-event>
                <div class="ui-helper-clearfix">
                    <img src="./assets/img/{{event.image}}" style="display:inline-block;margin:2px 0 2px 2px" />
                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{event.title}} - {{event.start}} - {{event.end}}</div>
                </div>
            </template>
        </p-orderList>
      
    </div>
</div>


<hr>

<h4>Gallery</h4>

<p-galleria [images]="images" panelWidth="500" panelHeight="313" showCaption="true"></p-galleria>


